<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
      <parameter name="browser" value="chrome"></parameter>
    <classes>
     <class name="salesForce.tests.SFDCLogin.SFDCLoginTests"/>  
      <class name="salesForce.tests.UserMenuDropDown.UserMenuDropDownTests"/>
       <class name="salesForce.tests.Accounts.CreateAccountTests"/> 
       <class name= "salesForce.tests.Opportunities.CreateOpportunityTests"/>  
       <class name= "salesForce.tests.Leads.LeadsTests"/> 
       <class name= "salesForce.tests.contacts.ContactTests"/> 
      <class name="salesForce.tests.RandomScenarios.RandomScenariosTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
 